<div class="row row-cols-1 row-cols-md-2 m-2 g-4">
  <% @coffees.each do |coffee| %>
    <% if current_user == coffee.owner %>
      <div class="col">
        <%= render 'coffee_card', coffee: coffee %>
      </div>
    <% end %>
  <% end %>
</div>
