<h1>Editing coffee</h1>

<%= render "form", coffee: @coffee %>

<br>
<%= button_to "Destroy this coffee", @coffee, method: :delete %>
<br>

<div>
  <%= link_to "Show this coffee", @coffee %> |
  <%= link_to "Back to coffees", coffees_path %>
</div>
