<h1>Coffees</h1>

<div>
<%= link_to "New coffee", new_coffee_path %>
</div>

<div class="row row-cols-1 row-cols-md-2 m-2 g-4">
  <% @coffees.each do |coffee| %>
    <% if current_user == coffee.owner %>
      <%= render coffee %>
    <% end %>
  <% end %>
</div>
