<p style="color: green"><%= notice %></p>

<h1>Coffees</h1>

<%= link_to "New coffee", new_coffee_path %>
<br>

<div id="coffees">
  <% @coffees.each do |coffee| %>
    <% if current_user == coffee.owner %>
      <%= render coffee %>
    <% end %>
  <% end %>
</div>
