<h1>Brewers</h1>

<div>
<%= link_to "New brewer", new_brewer_path %>
</div>

<div class="row row-cols-1 row-cols-md-2 m-2 g-4">
  <% @brewers.each do |brewer| %>
    <% if current_user == brewer.owner %>
      <%= render brewer %>
    <% end %>
  <% end %>
</div>
