<div class="row row-cols-1 row-cols-md-2 m-2 g-4">
  <% @grinders.each do |grinder| %>
    <% if current_user == grinder.owner %>
      <div class="col">
        <%= render 'grinder_card', grinder: grinder %>
      </div>
    <% end %>
  <% end %>
</div>
