<div class="d-flex justify-content-between align-items-center">
<h1>Grinders</h1>

<%= link_to "New grinder", new_grinder_path, class: 'btn btn-primary' %>
</div>

<div class="row row-cols-1 row-cols-md-2 m-2 g-4">
  <% @grinders.each do |grinder| %>
    <% if current_user == grinder.owner %>
      <%= render grinder %>
    <% end %>
  <% end %>
</div>
