<div class="row row-cols-1 row-cols-md-2 m-2 g-4">
  <% @logs.each do |log| %>
    <% if current_user == log.owner %>
      <div class="col">
        <%= render 'log_card', log: log %>
      </div>
    <% end %>
  <% end %>
</div>
