<h1>Editing log</h1>

<%= render "form", log: @log %>

<br>
<%= button_to "Destroy this log", @log, method: :delete %>
<br>

<div>
  <%= link_to "Show this log", @log %> |
  <%= link_to "Back to logs", logs_path %>
</div>
